main {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-container {
  background-color: black;
  color: white;
  border-radius: 24px;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}