main {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-container {
  background-color: black;
  color: white;
  border-radius: 24px;
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link
h4 {
  color: white;
}

.link
h4:hover {
  text-decoration: underline;
}