.card-container {
  display: flex;
  flex-wrap: wrap;
}

.starship-card {
  border: solid 1px black;
  background-color: black;
  color: white;
  height: 200px;
  width: 400px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starship-card:hover {
  font-weight: bold;
}

.link {
  text-decoration: none;
}